.form-control {
    &:focus {
        box-shadow: none;
    }
}

.form-group {
    margin-bottom: 15px;
    
    .form-control {
        color: $color_secondary;
        font-size: 14px;
        background-color: $color_white;
        font-weight: 400;        
        border: 1px solid $color_gray;
        height: 40px;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $color_primary;
        }

        &::placeholder {
            color: gray;
            font-weight: 300;
        }
    }

    .select-wrapper {
        width: 100%;
    }

    .input-group {
        border: 1px solid $color_gray;
        border-radius: 5px;
        transition: 300ms;
        flex-wrap: nowrap;

        .form-control {
            border: none;
        }

        .input-group-text {
            background-color: $color_light_gray !important;
            border: none;
        }

        &:hover {
            border-color: $color_secondary;
        }
    }
    
    .label-input-group {
        display: flex;
        align-items: center;
        border: 1px solid $color_gray;
        border-radius: 5px;

        .label-input-group-text {
            font-size: 18px;
            width: 40px;
            background-color: $color_light_gray;
            padding: 12px 0px;
            text-align: center;
        }

        .label-input-group-content {
            position: relative;
            height: calc(35px + 15px);
            width: 100%;
        }

        .label-input-group-content label {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0%, -50%);
        }

        
        .label-input-group-content .form-control {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: none;
            border: none;
            height: 40px;
        }

        .label-input-group-content .form-control:focus ~ label,
        .label-input-group-content .form-control:valid ~ label {
            color: $color_secondary;
            font-weight: 400;
            top: 0;
            transform: translate(0%, 0%);
            font-size: 12px;
            transition: 300ms;
            color: $color_primary;
        }
    }

}

.select-wrapper {
    position: relative;

    .form-control {
        padding-right: 25px;
    }

    &::after {
        position: absolute;
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        top: 50%;
        transform: translate(0%, -50%);
        right: 10px;
        color: $color_gray;
    }
}