$color_primary: #0887ed;
$color_primary_dark: #0d73c7;
$color_secondary: #1a2b48;
$color_white: #ffffff;
$color_black: #05080e;
$color_gray: #c4c7c9;
$color_light_gray: #f3f3f3;

// fonts
$font_primary: 'Roboto', sans-serif;
$font_secondary: 'Poppins', sans-serif;