@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #0887ed;
  text-decoration: none;
  transition: 200ms;
}

a:hover {
  text-decoration: underline;
  color: #0d73c7;
  transition: 300ms;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #1a2b48;
}

img {
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  max-width: calc(100% - 100px) !important;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: calc(1600px - 100px) !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100% - 30px) !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(100% - 10px) !important;
  }
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #1a2b48;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #1a2b48;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1a2b48;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1a2b48;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #1a2b48;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  color: #1a2b48;
}

.dflex-end-center {
  justify-content: flex-end;
  align-items: center;
}

.dflex-center-center {
  justify-content: center;
  align-items: center;
}

.section-padding {
  padding: 60px 0px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.bg-gray {
  background-color: #fafafa;
}

.btn {
  border: none;
  font-family: "Poppins", sans-serif;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #0887ed;
  color: #ffffff;
}

.btn-secondary {
  background-color: #1a2b48;
  color: #ffffff;
}

.pre-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sk-cube-grid {
  width: 35px;
  height: 35px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #0887ed;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000046;
  z-index: 999;
  visibility: hidden;
  transition: 100ms;
}

.modal-box .modal-box-dialog {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.modal-box .modal-box-content {
  position: absolute;
  top: 25%;
  left: 40%;
  width: calc(100% - 35%);
  background-color: #ffffff;
  transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  transition: 100ms;
  border-radius: 5px;
}

.modal-box.show-modal {
  visibility: visible;
}

.modal-box.show-modal .modal-box-content {
  left: 50%;
  opacity: 1;
  visibility: visible;
  transition: 400ms 100ms;
  border-radius: 5px;
}

.modal .modal-content .modal-header {
  border-bottom: 0px solid #f3f3f3;
}

.modal .modal-content .modal-header .modal-close {
  background: none !important;
  border: none;
  color: #c4c7c9;
  padding: 0px 5px;
}

.modal .modal-content .modal-header .modal-close:hover {
  color: #df1c3d;
}

.modal .modal-content .modal-footer {
  border-top: 0px solid #f3f3f3;
  text-align: center;
  justify-content: center;
}

.form-control:focus {
  box-shadow: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .form-control {
  color: #1a2b48;
  font-size: 14px;
  background-color: #ffffff;
  font-weight: 400;
  border: 1px solid #c4c7c9;
  height: 40px;
}

.form-group .form-control.textarea {
  height: auto;
}

.form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #0887ed;
}

.form-group .form-control::placeholder {
  color: gray;
  font-weight: 300;
}

.form-group .select-wrapper {
  width: 100%;
}

.form-group .input-group {
  border: 1px solid #c4c7c9;
  border-radius: 5px;
  transition: 300ms;
  flex-wrap: nowrap;
}

.form-group .input-group .form-control {
  border: none;
}

.form-group .input-group .input-group-text {
  background-color: #f3f3f3 !important;
  border: none;
}

.form-group .input-group:hover {
  border-color: #1a2b48;
}

.form-group .label-input-group {
  display: flex;
  align-items: center;
  border: 1px solid #c4c7c9;
  border-radius: 5px;
}

.form-group .label-input-group .label-input-group-text {
  font-size: 18px;
  width: 40px;
  background-color: #f3f3f3;
  padding: 12px 0px;
  text-align: center;
}

.form-group .label-input-group .label-input-group-content {
  position: relative;
  height: calc(35px + 15px);
  width: 100%;
}

.form-group .label-input-group .label-input-group-content label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
}

.form-group .label-input-group .label-input-group-content .form-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: none;
  border: none;
  height: 40px;
}

.form-group .label-input-group .label-input-group-content .form-control:focus ~ label,
.form-group .label-input-group .label-input-group-content .form-control:valid ~ label {
  color: #1a2b48;
  font-weight: 400;
  top: 0;
  transform: translate(0%, 0%);
  font-size: 12px;
  transition: 300ms;
  color: #0887ed;
}

.select-wrapper {
  position: relative;
}

.select-wrapper .form-control {
  padding-right: 25px;
}

.select-wrapper::after {
  position: absolute;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  top: 50%;
  transform: translate(0%, -50%);
  right: 10px;
  color: #c4c7c9;
}

.has-search-preview {
  position: relative;
}

.has-search-preview .search-preview-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 999;
  display: none;
}

.has-search-preview .search-preview-items.show {
  display: block;
}

.has-search-preview .search-preview-items .search-preview-item {
  display: flex;
  border-bottom: 1px solid #f3f3f3;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 0px;
}

.has-search-preview .search-preview-items .search-preview-item .search-item-icon {
  width: 30px;
  text-align: center;
}

.has-search-preview .search-preview-items .search-preview-item:last-child {
  border-bottom: none;
}

.has-search-preview .search-preview-items .search-preview-item:hover {
  background-color: #f3f3f3;
}

.datepicker {
  font-size: 14px;
  padding: 10px;
}

.datepicker .datepicker-days .datepicker-title {
  color: #0887ed;
}

.datepicker .datepicker-days .prev, .datepicker .datepicker-days .next {
  color: #c4c7c9;
}

.datepicker .datepicker-days .datepicker-switch {
  color: #0887ed;
}

.datepicker .datepicker-days .dow {
  padding: 5px 7px;
  font-weight: 500;
  color: #1a2b48;
}

.datepicker .datepicker-days .day {
  padding: 6px 10px;
  border-radius: 0px !important;
}

.datepicker .datepicker-days .day:hover {
  background-color: #f3f3f3;
}

.datepicker .datepicker-days .day.today {
  background: #1a2b48 !important;
  color: #fff !important;
}

.datepicker .datepicker-days .day.old {
  color: #df1c3d;
  opacity: 0.5;
}

.datepicker .datepicker-days .day.active {
  background: #0887ed !important;
}

.datepicker .datepicker-days .day.new {
  color: #c4c7c9;
  opacity: 0.7;
}

/* Header */
.topbar {
  background-color: #1a2b48;
  color: #ffffff;
  padding: 10px 0px;
  font-size: 13px;
}

.topbar .topbar-items ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.topbar .topbar-items ol li {
  position: relative;
  margin: 0px 10px;
}

.topbar .topbar-items ol li::after {
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  content: '';
  height: 100%;
  background-color: #c4c7c9;
  opacity: 0.35;
}

.topbar .topbar-items ol li:first-child::after {
  display: none;
}

.topbar .topbar-items ol li a {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .topbar .topbar-items ol {
    justify-content: space-between;
  }
}

.topbar .topbar-social-nav ul {
  display: flex;
}

.topbar .topbar-social-nav ul li {
  margin-right: 10px;
  position: relative;
}

.topbar .topbar-social-nav ul li::after {
  display: none;
}

.topbar .topbar-social-nav ul li:last-child {
  margin-right: 0px;
}

.topbar .topbar-social-nav ul li a:hover {
  color: #0887ed;
}

.topbar .topbar-nav ul {
  display: flex;
}

.topbar .topbar-nav ul li {
  position: relative;
  margin: 0px;
  margin-left: 20px;
}

.topbar .topbar-nav ul li:first-child {
  margin-left: 0px;
}

.topbar .topbar-nav ul li::after {
  display: none;
}

.topbar .topbar-nav ul li a:hover {
  color: #0887ed;
  text-decoration: none;
}

.header {
  position: relative;
}

.header .col-lg-3, .header .col-md-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  padding: 9px 0px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header .logo {
    width: 75%;
  }
}

.header .logo img {
  width: calc(100% - 30px);
}

.header #rs-menu-bar {
  cursor: pointer;
  color: #1a2b48;
  border-radius: 50%;
  padding: 0px 5px;
  display: none;
}

.header #rs-menu-bar:hover {
  background-color: #f3f3f3;
  box-shadow: 0px 0px 0px 10px #f3f3f3;
}

@media screen and (max-width: 768px) {
  .header #rs-menu-bar {
    display: block;
  }
}

/* Navigation */
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.mainmenu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.mainmenu ul li {
  position: relative;
}

.mainmenu ul li::after {
  position: absolute;
  top: 61%;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #1a2b48;
  content: '';
  transform: translate(-50%, 0%);
  transition: 200ms;
}

.mainmenu ul li:hover::after {
  width: calc(100% - 30px);
  transition: 300ms;
}

.mainmenu ul li a {
  display: block;
  padding: 30px 15px;
  color: #05080e;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}

.mainmenu ul li a:hover {
  color: #0887ed;
  text-decoration: none;
}

.responsive-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0px 20px;
  z-index: 9999;
  max-height: 0px;
  opacity: 0.25;
  overflow: hidden;
  transition: all 200ms ease-in;
}

.responsive-menu.show {
  max-height: 100vh;
  padding: 20px;
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .responsive-menu {
    display: none;
  }
}

.responsive-menu ul li {
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}

.responsive-menu ul li::after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 1px;
  background: #1a2b48;
  content: '';
  transform: translate(0%, 0%);
  transition: 200ms;
}

.responsive-menu ul li:hover::after {
  width: 100%;
  transition: 300ms;
}

.responsive-menu ul li:last-child {
  border-bottom: 0px solid #f3f3f3;
}

.responsive-menu ul li a {
  display: block;
  padding: 10px 0px;
  color: #05080e;
  font-weight: 500;
  font-size: 15px;
}

.responsive-menu ul li a:hover {
  color: #0887ed;
  text-decoration: none;
}

/* Slider */
.slider-wrapper {
  position: relative;
  min-height: 500px;
  height: calc(100vh);
  background-color: #0d73c7;
}

.slider-wrapper .sliders {
  height: 100%;
}

.slider-wrapper .sliders .owl-stage-outer {
  height: 100%;
}

.slider-wrapper .sliders .owl-stage-outer .owl-stage {
  height: 100%;
}

.slider-wrapper .sliders .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}

.slider-wrapper .sliders .slider-item {
  height: 100%;
  position: relative;
}

.slider-wrapper .sliders .slider-item .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.slider-wrapper .search-wrapper {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 999;
  width: 100%;
  transform: translate(0%, -50%);
}

.slider-wrapper .search-wrapper .search-box {
  position: relative;
}

.slider-wrapper .search-wrapper .search-box .search-box-header {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: -60px;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: 999;
}

.slider-wrapper .search-wrapper .search-box .search-box-header ul {
  text-align: center;
}

.slider-wrapper .search-wrapper .search-box .search-box-header ul li {
  display: inline-block;
  border: 1px solid #ffffff;
  margin: 10px 0px;
  padding: 5px 10px;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  font-weight: 300;
  background: #ffffff25;
  cursor: pointer;
}

.slider-wrapper .search-wrapper .search-box .search-box-header ul li:hover, .slider-wrapper .search-wrapper .search-box .search-box-header ul li.active {
  background-color: #0887ed;
  border-color: #0887ed;
  color: #ffffff;
  text-decoration: none;
}

.slider-wrapper .search-wrapper .search-box .search-box-body {
  background-color: #ffffff;
  border-radius: 15px;
  transition: 500ms;
  min-height: 370px;
  position: relative;
}

.slider-wrapper .search-wrapper .search-box .search-box-body .search-box-title {
  margin-bottom: 25px;
}

.slider-wrapper .search-wrapper .search-box .search-box-body .search-box-title h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.slider-wrapper .search-wrapper .search-box .search-box-body .search-box-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  visibility: hidden;
  transform: scale(0.9);
  opacity: 0;
  transition: 300ms;
}

.slider-wrapper .search-wrapper .search-box .search-box-body .search-box-items.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: 400ms 100ms;
}

/* Resorts */
.resorts {
  position: relative;
}

.resorts .resort .resort-body {
  border: 1px solid #f3f3f3;
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
}

.resorts .resort .resort-body .resort-thumbnail {
  height: 215px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.resorts .resort .resort-body .resort-thumbnail img {
  min-width: 100%;
  min-height: 100%;
  transition: 200ms ease-out;
}

.resorts .resort .resort-body .resort-thumbnail::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, #1a2b48, transparent);
  opacity: 0.85;
  z-index: 1;
}

.resorts .resort .resort-body .resort-thumbnail .resort-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  z-index: 999;
}

.resorts .resort .resort-body .resort-thumbnail .resort-price sup, .resorts .resort .resort-body .resort-thumbnail .resort-price sub {
  font-weight: 300;
  font-size: 14px;
}

.resorts .resort .resort-body .resort-content {
  padding: 10px 10px 0px 10px;
}

.resorts .resort .resort-body .resort-content .resort-location {
  margin-bottom: 15px;
}

.resorts .resort .resort-body .resort-content .resort-title {
  margin-bottom: 0px;
  min-height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.resorts .resort .resort-body .resort-content .resort-title h2 {
  font-size: 18px;
  font-weight: 500;
}

.resorts .resort .resort-body .resort-content .resort-title:hover {
  text-decoration: none;
}

.resorts .resort .resort-body .resort-content .resort-title:hover h2 {
  color: #0887ed;
}

.resorts .resort .resort-body .resort-content .resort-facilities {
  margin-bottom: 15px;
}

.resorts .resort .resort-body .resort-content .resort-facilities ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 15px;
  grid-gap: 10px;
}

.resorts .resort .resort-body .resort-content .resort-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resorts .resort .resort-body .resort-content .resort-review ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.resorts .resort .resort-body .resort-content .resort-review ul li {
  margin-right: 2px;
  color: orange;
}

.resorts .resort .resort-body .resort-footer {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.resorts .resort .resort-body .resort-footer a {
  color: #7e7e7e;
  font-weight: 300;
}

.resorts .resort .resort-body .resort-footer a:hover {
  text-decoration: none;
  color: #0887ed;
}

.resorts .resort:hover .resort-thumbnail img {
  transform: scale(1.15);
  transition: 300ms ease-in;
}

.resorts.owl-carousel .owl-nav {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 5px;
}

.resorts.owl-carousel .owl-nav .owl-prev, .resorts.owl-carousel .owl-nav .owl-next {
  background-color: #c4c7c9 !important;
  color: #f3f3f3 !important;
  padding: 0px 6px !important;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease-in 100ms;
}

@media screen and (max-width: 767px) {
  .resorts.owl-carousel .owl-nav .owl-prev, .resorts.owl-carousel .owl-nav .owl-next {
    opacity: 1;
    visibility: visible;
  }
}

.resorts.owl-carousel .owl-nav .owl-prev:hover, .resorts.owl-carousel .owl-nav .owl-next:hover {
  background-color: #0887ed !important;
  color: #ffffff !important;
}

.resorts:hover.owl-carousel .owl-nav .owl-prev, .resorts:hover.owl-carousel .owl-nav .owl-next {
  opacity: 1;
  visibility: visible;
  transition: 300ms ease-in;
}

.resorts.resort-list .resort {
  margin-bottom: 30px;
}

.resorts.resort-list .resort .resort-body {
  display: flex;
  padding: 0;
}

.resorts.resort-list .resort .resort-body .resort-thumbnail {
  width: 40%;
  height: 180px;
  margin-bottom: 0px;
}

.resorts.resort-list .resort .resort-body .resort-thumbnail .resort-price {
  right: auto;
  left: 10px;
}

.resorts.resort-list .resort .resort-body .resort-content {
  margin-top: 5px;
  position: relative;
}

.resorts.resort-list .resort .resort-body .resort-content .resort-title {
  min-height: auto;
  margin-bottom: 5px;
}

.resorts.resort-list .resort .resort-body .resort-content .resort-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  padding: 0px 10px;
}

.resort-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.resort-header strong {
  font-weight: 500;
}

.resort-header .sort-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resort-header .sort-dropdown h5 {
  margin-right: 10px;
}

.resort-header .sort-dropdown ul li:not(:first-child) {
  display: none;
}

.resort-details {
  background: #ffffff;
}

.resort-details .resort .resort-body {
  border: none;
  background: none;
}

.resort-carousel.owl-carousel {
  position: relative;
}

.resort-carousel.owl-carousel .owl-next, .resort-carousel.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  transition: 300ms;
}

.resort-carousel.owl-carousel .owl-next i, .resort-carousel.owl-carousel .owl-prev i {
  color: #ffffff;
  background-color: #0000008c;
  padding: 5px 7px;
  font-size: 25px;
  border-radius: 3px;
}

.resort-carousel.owl-carousel .owl-next {
  left: auto;
  right: -40px;
}

.resort-carousel.owl-carousel:hover .owl-prev {
  left: 20px;
  transition: 500ms;
}

.resort-carousel.owl-carousel:hover .owl-next {
  left: auto;
  right: 20px;
  transition: 500ms;
}

@media screen and (max-width: 768px) {
  .resort-carousel.owl-carousel .owl-prev {
    left: 20px;
    transition: 500ms;
  }
  .resort-carousel.owl-carousel .owl-next {
    left: auto;
    right: 20px;
    transition: 500ms;
  }
}

/* Packages */
.package-wrapper {
  background-color: #fafafa;
}

.packages {
  position: relative;
}

.packages .package .package-body {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: #ffffff;
}

.packages .package .package-body .package-thumbnail {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.packages .package .package-body .package-thumbnail img {
  min-width: 100%;
  min-height: 100%;
  transition: 200ms ease-out;
}

.packages .package .package-body .package-thumbnail .package-category {
  position: absolute;
  top: 15px;
  left: 0px;
  background: #0887ed;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 0px 25px 25px 0px;
}

.packages .package .package-body .package-content {
  padding: 10px 10px 0px 10px;
}

.packages .package .package-body .package-content .package-location {
  margin-bottom: 5px;
}

.packages .package .package-body .package-content .package-title {
  margin-bottom: 10px;
  min-height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.packages .package .package-body .package-content .package-title h2 {
  font-size: 18px;
  font-weight: 500;
}

.packages .package .package-body .package-content .package-title:hover {
  text-decoration: none;
}

.packages .package .package-body .package-content .package-title:hover h2 {
  color: #0887ed;
}

.packages .package .package-body .package-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 15px;
}

.packages .package .package-body .package-footer .package-price {
  font-weight: 600;
  font-size: 18px;
}

.packages .package .package-body .package-footer .package-price sup {
  font-size: 12px;
  font-weight: 400;
}

.packages .package .package-body .package-footer .booking-btn .btn {
  border: 1px solid #c4c7c9;
  border-radius: 50px;
  padding: 5px 15px;
}

.packages .package .package-body .package-footer .booking-btn .btn:hover {
  text-decoration: none;
  border-color: #0d73c7;
  background-color: #0887ed;
  color: #ffffff;
}

.packages .package:hover .package-thumbnail img {
  transform: scale(1.35);
  transition: 300ms ease-in;
}

.packages.owl-carousel .owl-nav {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 5px;
}

.packages.owl-carousel .owl-nav .owl-prev, .packages.owl-carousel .owl-nav .owl-next {
  background-color: #c4c7c9 !important;
  color: #f3f3f3 !important;
  padding: 0px 6px !important;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease-in 100ms;
}

@media screen and (max-width: 767px) {
  .packages.owl-carousel .owl-nav .owl-prev, .packages.owl-carousel .owl-nav .owl-next {
    opacity: 1;
    visibility: visible;
  }
}

.packages.owl-carousel .owl-nav .owl-prev:hover, .packages.owl-carousel .owl-nav .owl-next:hover {
  background-color: #0887ed !important;
  color: #ffffff !important;
}

.packages:hover.owl-carousel .owl-nav .owl-prev, .packages:hover.owl-carousel .owl-nav .owl-next {
  opacity: 1;
  visibility: visible;
  transition: 300ms ease-in;
}

/* Spots */
.spots {
  position: relative;
}

.spots .spot .spot-body {
  border: 1px solid #f3f3f3;
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
}

.spots .spot .spot-body .spot-thumbnail {
  height: 215px;
  width: 100%;
  overflow: hidden;
}

.spots .spot .spot-body .spot-thumbnail img {
  min-width: 100%;
  min-height: 100%;
  transition: 200ms ease-out;
}

.spots .spot .spot-body .spot-content {
  padding: 10px 10px 0px 10px;
}

.spots .spot .spot-body .spot-content .spot-location {
  margin-bottom: 5px;
}

.spots .spot .spot-body .spot-content .spot-title {
  margin-bottom: 10px;
  min-height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.spots .spot .spot-body .spot-content .spot-title h2 {
  font-size: 18px;
  font-weight: 500;
}

.spots .spot .spot-body .spot-content .spot-title:hover {
  text-decoration: none;
}

.spots .spot .spot-body .spot-content .spot-title:hover h2 {
  color: #0887ed;
}

.spots .spot .spot-body .spot-content .spot-review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spots .spot .spot-body .spot-content .spot-review ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.spots .spot .spot-body .spot-content .spot-review ul li {
  margin-right: 2px;
  color: orange;
}

.spots .spot .spot-body .spot-footer {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.spots .spot .spot-body .spot-footer a {
  color: #7e7e7e;
  font-weight: 300;
}

.spots .spot .spot-body .spot-footer a:hover {
  text-decoration: none;
  color: #0887ed;
}

.spots .spot:hover .spot-thumbnail img {
  transform: scale(1.35);
  transition: 300ms ease-in;
}

.spots .owl-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.spots .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #c4c7c9;
  border-radius: 30px;
  margin: 0px 3px;
  transition: 300ms;
}

.spots .owl-dots .owl-dot:first-child {
  margin-left: 0px;
}

.spots .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}

.spots .owl-dots .owl-dot.active {
  background-color: #c4c7c9;
  border-color: none;
  transition: 300ms;
}

.spots.spot-list .spot {
  margin-bottom: 30px;
}

.spots.spot-list .spot .spot-body {
  display: flex;
  padding: 0;
  margin-bottom: 0px;
}

.spots.spot-list .spot .spot-body .spot-thumbnail {
  width: 40%;
  min-height: 180px;
  margin-bottom: 0px;
}

.spots.spot-list .spot .spot-body .spot-thumbnail .spot-price {
  right: auto;
  left: 10px;
}

.spots.spot-list .spot .spot-body .spot-content {
  width: 60%;
  margin-top: 5px;
  position: relative;
  padding-bottom: 50px;
}

.spots.spot-list .spot .spot-body .spot-content .spot-title {
  min-height: auto;
  margin-bottom: 5px;
}

.spots.spot-list .spot .spot-body .spot-content .spot-footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding: 0px 10px;
}

.spot-details {
  background: #ffffff;
}

.spot-details .spot .spot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.spot-details .spot .spot-body {
  border: none;
  background: none;
}

.spot-carousel.owl-carousel {
  position: relative;
}

.spot-carousel.owl-carousel .owl-next, .spot-carousel.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  transition: 300ms;
}

.spot-carousel.owl-carousel .owl-next i, .spot-carousel.owl-carousel .owl-prev i {
  color: #ffffff;
  background-color: #0000008c;
  padding: 5px 7px;
  font-size: 25px;
  border-radius: 3px;
}

.spot-carousel.owl-carousel .owl-next {
  left: auto;
  right: -40px;
}

.spot-carousel.owl-carousel:hover .owl-prev {
  left: 20px;
  transition: 500ms;
}

.spot-carousel.owl-carousel:hover .owl-next {
  left: auto;
  right: 20px;
  transition: 500ms;
}

@media screen and (max-width: 768px) {
  .spot-carousel.owl-carousel .owl-prev {
    left: 20px;
    transition: 500ms;
  }
  .spot-carousel.owl-carousel .owl-next {
    left: auto;
    right: 20px;
    transition: 500ms;
  }
}

/* Destinations */
.destination-wrapper {
  background-color: #fafafa;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  grid-auto-flow: dense;
  grid-auto-rows: 180px;
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .destinations {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 160px;
  }
}

@media screen and (max-width: 480px) {
  .destinations {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 130px;
  }
}

@media screen and (max-width: 320px) {
  .destinations {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 130px;
  }
}

.destinations .destination {
  background: #f3f3f3;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.destinations .destination::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, #1a2b48, transparent);
  z-index: -1;
  opacity: 0.85;
}

.destinations .destination img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  transition: 250ms;
}

.destinations .destination h5 {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.destinations .destination .destination-info {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, 0%);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
}

.destinations .destination:hover {
  text-decoration: none;
}

.destinations .destination:hover::after {
  height: 100%;
}

.destinations .destination:hover img {
  transform: scale(1.2);
}

.destinations .destination:hover .destination-info {
  left: 50%;
  visibility: visible;
  opacity: 1;
  color: #ffffff;
}

/* page title */
.page-title-wrapper {
  position: relative;
  z-index: 1;
  padding: 45px 0px;
}

.page-title-wrapper::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a2b48;
  opacity: 0.5;
  z-index: -1;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title h2 {
  color: #ffffff;
  font-weight: 500;
}

.page-title .breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-title .breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.page-title .breadcrumbs li a {
  color: #f3f3f3;
}

.page-title .breadcrumbs li::after {
  position: absolute;
  top: 0;
  left: -13px;
  content: '\f105';
  color: #f3f3f3;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.page-title .breadcrumbs li:first-child::after {
  display: none;
}

/* page title */
.sidebar-item {
  background-color: #ffffff;
  padding: 15px 20px 30px;
  border: 1px solid #f3f3f3;
  margin-bottom: 30px;
  border-radius: 5px;
}

.sidebar-item:last-child {
  margin-bottom: 0px;
}

.sidebar-item .sidebar-header {
  margin-bottom: 15px;
}

.sidebar-item .sidebar-header .sidebar-title {
  font-weight: 500;
  font-size: 18px;
}

.sidebar-item .sidebar-header p {
  color: #c4c7c9;
}

.sidebar-item .sidebar-body {
  padding-top: 5px;
}

.sidebar-item.sticky {
  position: fixed;
  top: 0;
  width: calc(40% - 145px);
  z-index: 999;
}

.sidebar-item .sidebar-footer {
  padding: 15px 0px 0px;
}

.sidebar-item .sidebar-card {
  border-top: 1px solid #f3f3f3;
  margin: 15px 0px;
  padding: 15px 0px;
}

.sidebar-item .info-list li {
  margin-bottom: 15px;
}

.sidebar-item .info-list li a {
  color: #1a2b48;
  font-weight: 500;
  font-size: 15px;
}

.user-avatar {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px #ffffff, 0px 0px 0px 4px #f3f3f3;
}

.user-avatar img {
  min-width: 100%;
  min-height: 100%;
}

.user-name {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Login */
.login-form .form-footer-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.reset-password-form strong {
  margin-bottom: 20px;
  font-weight: 500;
  display: block;
}

/* Register */
.register-form .form-footer-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Checkout */
.checkout-wrapper .checkout-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 20px;
}

.checkout-wrapper .checkout-form .form-group {
  margin-bottom: 20px;
}

/* Dashboard */
.dashboard {
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
}

.dashboard .nav.nav-tabs {
  border-bottom: 1px solid #f3f3f3 !important;
  margin-bottom: 10px;
}

.dashboard .nav.nav-tabs .nav-item .nav-link {
  color: #1a2b48;
  padding: 10px 15px;
  border: none;
  position: relative;
  background: none;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.dashboard .nav.nav-tabs .nav-item .nav-link::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #0887ed;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}

.dashboard .nav.nav-tabs .nav-item .nav-link:hover {
  color: #0887ed;
}

.dashboard .nav.nav-tabs .nav-item .nav-link:focus {
  border: none !important;
  color: #0887ed;
}

.dashboard .nav.nav-tabs .nav-item .nav-link.active {
  color: #0887ed;
  border: none !important;
}

.dashboard .nav.nav-tabs .nav-item .nav-link.active::after {
  width: calc(100% - 30px);
  visibility: visible;
  opacity: 1;
  transition: 300ms;
}

.dashboard .tab-content {
  padding: 10px 0px;
  min-height: calc(100vh - 22vh);
}

/* Footer */
.footer-top-wrapper {
  position: relative;
  padding: 30px 0px 20px;
  z-index: 1;
}

.footer-top-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05080e;
  content: '';
  z-index: -1;
  opacity: 0.95;
}

.footer-top-item {
  color: #f3f3f3;
}

.footer-top-item .footer-top-item-title {
  margin-bottom: 35px;
}

.footer-top-item .footer-top-item-title h3 {
  color: #c4c7c9;
  font-weight: 300;
  font-size: 18px;
}

.footer-top-item .widgets .widgets-item {
  border-left: 3px solid #1a2b48;
  padding: 0px 0px 0px 20px;
  margin-bottom: 30px;
}

.footer-top-item .widgets .widgets-item strong {
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
  color: #f3f3f3;
}

.footer-top-item .widgets .widgets-item h3 {
  font-size: 16px;
  font-weight: 400;
}

.footer-top-item .widgets .widgets-item a {
  color: #ffffff;
}

.footer-top-item .widgets .widgets-item a:hover {
  text-decoration: none;
}

.footer-top-item .widgets .widgets-item .widget-social-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-top-item .widgets .widgets-item .widget-social-links li a {
  display: block;
  font-size: 16px;
}

.footer-top-item .widgets .widgets-item .widget-social-links li:hover a {
  color: #0887ed;
}

.footer-top-item .widget-menu ul li {
  display: inline;
}

.footer-top-item .widget-menu ul li a {
  display: block;
  color: #c4c7c9;
  padding: 10px 0px;
}

.footer-top-item .widget-menu ul li:hover a {
  color: #0887ed;
}

.footer-copyright {
  background-color: #05080e;
  padding: 15px 0px;
  color: #c4c7c9;
}
/*# sourceMappingURL=style.css.map */