.navigation {
    @include dflex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 480px){
        display: none;
    }
}

.mainmenu {
    
    ul {
        @include dflex;
        width: 100%;
        li {
            position: relative;
            &::after {
                position: absolute;
                top: 61%;
                left: 50%;
                width: 0%;
                height: 1px;
                background: $color_secondary;
                content: '';
                transform: translate(-50%, 0%);
                transition: 200ms;
            }

            &:hover::after {
                width: calc(100% - 30px);
                transition: 300ms;
            }

            a {
                display: block;
                padding: 30px 15px;
                color: $color_black;
                font-weight: 500;
                font-size: 15px;
                text-transform: capitalize;

                &:hover {
                    color: $color_primary;
                    text-decoration: none;
                }
            }
        }
    }
}