.package-wrapper {
    background-color: #fafafa;
}

.packages {
    position: relative;
    .package {
        .package-body {
            border: 1px solid $color_light_gray;
            border-radius: 5px;
            background: $color_white;

            .package-thumbnail {
                height: 250px;
                width: 100%;
                overflow: hidden;
                position: relative;

                img {
                    min-width: 100%;
                    min-height: 100%;
                    transition: 200ms ease-out;
                }
                
                .package-category {
                    position: absolute;
                    top: 15px;
                    left: 0px;
                    background: $color_primary;
                    color: $color_white;
                    padding: 5px 15px;
                    border-radius: 0px 25px 25px 0px;
                }
            }

            .package-content {
                padding: 10px 10px 0px 10px;
                .package-location {
                    margin-bottom: 5px;
                }
    
                .package-title {
                    margin-bottom: 10px;
                    min-height: 45px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    h2 {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    &:hover {
                        text-decoration: none;
                        h2 {
                            color: $color_primary;
                        }
                    }
                }
                
            }

            .package-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px 15px;
            }

            .booking-btn {

                .btn {
                    border: 1px solid $color_gray;
                    border-radius: 50px;
                    padding: 5px 15px;

                    &:hover {
                        text-decoration: none;
                        background-color: $color_secondary;
                        color: $color_white;
                    }
                }
            }
        }

        &:hover {
            .package-thumbnail {
                img {
                    transform: scale(1.35);
                    transition: 300ms ease-in;
                }
            }
        }
    }

    &.owl-carousel {
        .owl-nav {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-gap: 5px;
    
            .owl-prev, .owl-next {
                background-color: $color_gray !important;
                color: $color_light_gray !important;
                padding: 0px 6px !important;
                border-radius: 3px;
                opacity: 0;
                visibility: hidden;
                transition: 200ms ease-in 100ms;
                
                &:hover {
                    background-color: $color_primary !important;
                    color: $color_white !important;
                }
            }
        }        
    }
    
    &:hover {
        &.owl-carousel {
            .owl-nav {        
                .owl-prev, .owl-next {
                    opacity: 1;
                    visibility: visible;
                    transition: 300ms ease-in;
                    
                }
            }
        }
    }
}