.resorts {
    position: relative;
    .resort {
        .resort-body {
            border: 1px solid $color_light_gray;
            padding-bottom: 10px;;
            border-radius: 5px;
            overflow: hidden;
            background: $color_white;

            .resort-thumbnail {
                height: 215px;
                width: 100%;
                overflow: hidden;
                position: relative;

                img {
                    min-width: 100%;
                    min-height: 100%;
                    transition: 200ms ease-out;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(to top, $color_secondary, transparent);
                    opacity: 0.85;
                    z-index: 1;
                }
                
                .resort-price {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    color: $color_white;
                    font-size: 20px;
                    font-weight: 600;
                    z-index: 999;

                    sup, sub {
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }

            .resort-content {
                padding: 10px 10px 0px 10px;
                .resort-location {
                    margin-bottom: 15px;
                }
    
                .resort-title {
                    margin-bottom: 0px;
                    min-height: 45px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    h2 {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    &:hover {
                        text-decoration: none;
                        h2 {
                            color: $color_primary;
                        }
                    }
                }
    
                .resort-facilities {
                    margin-bottom: 15px;

                     ul {
                         display: flex;
                         justify-content: flex-start;
                         flex-wrap: wrap;
                         align-items: center;
                         margin-right: 15px;
                         grid-gap: 10px;
                     }
                }

                .resort-review {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;

                     ul {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         margin-right: 15px;

                         li {
                             margin-right: 2px;
                             color: orange;
                         }
                     }
                }
            }

            .resort-footer {
                padding: 0px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                a {
                    color: $color_dark_gray;
                    font-weight: 300;
                    &:hover {
                        text-decoration: none;
                        color: $color_primary;
                    }
                }
            }
        }

        &:hover {
            .resort-thumbnail {
                img {
                    transform: scale(1.15);
                    transition: 300ms ease-in;
                }
            }
        }
    }

    &.owl-carousel {
        .owl-nav {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-gap: 5px;
    
            .owl-prev, .owl-next {
                background-color: $color_gray !important;
                color: $color_light_gray !important;
                padding: 0px 6px !important;
                border-radius: 3px;
                opacity: 0;
                visibility: hidden;
                transition: 200ms ease-in 100ms;

                @media screen and (max-width: 767px){
                    opacity: 1;
                    visibility: visible;
                }
                
                &:hover {
                    background-color: $color_primary !important;
                    color: $color_white !important;
                }
            }
        }        
    }
    &:hover {
        &.owl-carousel {
            .owl-nav {        
                .owl-prev, .owl-next {
                    opacity: 1;
                    visibility: visible;
                    transition: 300ms ease-in;
                    
                }
            }
        }
    }

    &.resort-list {
        .resort {
            margin-bottom: 30px;

            .resort-body {
                display: flex;
                padding: 0;

                .resort-thumbnail {
                    width: 40%;
                    height: 180px;
                    margin-bottom: 0px;

                    .resort-price {
                        right: auto;
                        left: 10px;
                    }
                }

                .resort-content {
                    margin-top: 5px;
                    position: relative;
                    .resort-title {
                       min-height: auto;
                       margin-bottom: 5px;
                    }

                    .resort-footer {
                        position: absolute;
                        bottom: 15px;
                        left: 0;
                        width: 100%;
                        padding: 0px 10px;
                    }

                    
                }
             }
        }
    }
}

.resort-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
    strong {
        font-weight: 500;
    }

    .sort-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            margin-right: 10px;
        }
        ul {
            li:not(:first-child) {
                display: none;
            }
        }
    }
}